// COLORS

$color-primary: #ddd9d9;
$color-secondary: blue;

$color-reg-button: #2eccaf;

$color-error: #bf0000;

$color-reg-background: #ddd9d9;
$color-reg-footer: #354048;

// IMAGES

$header-image: url(https://secure1.regsvc.com/registration/clientconfig/Cloudera/cvent/SKO2020/images/banners/registration.jpg) !important;


// FONTS

$main-font: 'calibriLight', sans-serif;
$header-font: 'agNextExtReg', sans-serif;